/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1f498f;
  --ifm-color-primary-dark: #1c4281;
  --ifm-color-primary-darker: #1a3e7a;
  --ifm-color-primary-darkest: #163364;
  --ifm-color-primary-light: #22509d;
  --ifm-color-primary-lighter: #2454a4;
  --ifm-color-primary-lightest: #285fba;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-font-family-base: Source Sans Pro;
  --docusaurus-announcement-bar-height: 26px !important;
  --ifm-navbar-height: 10rem;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-item-padding-horizontal: .275rem;
  --ifm-navbar-link-hover-color: #0071bc;


}
@media screen and (min-width: 640px) {
  :root {
    --ifm-navbar-height: 9rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --ifm-navbar-height: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --ifm-navbar-item-padding-horizontal: .8rem;
  }

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* BannerUSA */

.banner {
  background-color: #f1f1f1;
  color: #000;
  /* padding-bottom: 0.7rem; */
  text-align: left;
}

@media screen and (min-width: 481px) {
  .banner {
    font-size: 1.3rem;
    padding-bottom: 0;
  }
}

.banner-content {
  padding-right: 1.5rem;
  padding-bottom: 3px;
  padding-left: 1.5rem;
  background-color: transparent;
  font-size: 1.5rem;
  padding-top: 2rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .banner-content {
    padding-bottom: 2.3rem;
    padding-top: 4rem;
  }
}

@media screen and (min-width: 951px) {
  .banner-content {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.banner-content p:first-child {
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .banner-content p:first-child {
    margin-top: 0;
  }
}

.banner-inner {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1rem;
}

.banner-inner::after {
  clear: both;
  content: '';
  display: block;
}

@media screen and (min-width: 951px) {
  .banner-inner {
    padding-right: 3rem;
    padding-left: 1.5rem;
  }
}

.banner-header {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (min-width: 481px) {
  .banner-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.banner-header p {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
  overflow: hidden;
  vertical-align: middle;
}

@media screen and (min-width: 481px) {
  .banner-header p {
    margin-bottom: 2px;
    display: inline-block;
  }
}

.banner-header img {
  float: left;
  margin-right: 1rem;
  margin-top: 0;
  width: 2.4rem;
}

@media screen and (min-width: 481px) {
  .banner-header img {
    margin-right: 0.7rem;
    width: 20px;
  }
}


.announcementBar_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module {
  background-color: #f1f1f1 !important;
}




.navbar {
  padding-right: 0 !important;
}

.navbar__link {
  font-size: .85rem;
  font-weight: 700;
}

.navbar__link--active {
  border: 2px solid #000;
  border-width: 0 0 2px 0;
  color: #000;
  padding: 0;
  margin-left: .8rem;
  margin-right: .8rem;
}

.navbar__link:hover {
  border-color: #0071bc;
}

.hmda-name {
  display: none;
  font-size: 1.55rem;
  color: #1f498f;
  font-weight: 700;
  padding-left: .5em;
}

@media screen and (min-width: 1500px) {
  .hmda-name {
    display: inline-block;
  }
}

.navbar__brand,
.navbar__logo {
  margin-right: 0;
}

/* Emphasize sidebar selection */
.menu__link--active {
  border-radius: 0;
  font-weight: bold;
  border-left: 5px solid #1f498f;
}

.menu__link--sublist.menu__link--active,
.table-of-contents__link--active {
  font-weight:bold;
  border-left: none;
}

/* Prevent Chrome hover-on-link display of URL from obscuring sidebar options */
li.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-1:last-of-type {
  margin-bottom: 50px;
}

.pagination-nav {
  margin-bottom: 5em;
}

.docs-doc-id-faq\/downloading-datasets, 
.docs-doc-id-faq\/filing-faq, 
.docs-doc-id-faq\/data-browser-maps-faq,
.docs-doc-id-publications\/general\/derived-data-fields,
.docs-doc-id-publications\/loan-level-datasets\/lar-data-fields,
.docs-doc-id-publications\/loan-level-datasets\/ts-data-fields,
.docs-doc-id-publications\/loan-level-datasets\/panel-data-fields,
.docs-doc-id-publications\/loan-level-datasets\/lar-data-fields-v1,
.docs-doc-id-publications\/loan-level-datasets\/ts-data-fields-v1,
.docs-doc-id-publications\/loan-level-datasets\/panel-data-fields-v1,
.docs-doc-id-tools\/data-browser\/data-browser-faq,
.docs-doc-id-tools\/data-browser\/data-browser-maps-faq,
.docs-doc-id-tools\/data-browser\/derived-data-fields,
.docs-doc-id-tools\/data-browser\/lar-data-fields,
.docs-doc-id-tools\/file-format-verification\/file-format-verification,
.docs-doc-id-tools\/online-lar-formatting\/online-lar-formatting,
.docs-doc-id-api\/file-serving\/index {
  .pagination-nav {
    margin-bottom: 50vh;
  }
}

/* Algolia Search Bar */

[class^="searchBox"] {
  padding-left: .2rem !important;
  margin-right: 1rem
}
